/**
 * GENERAL
 */
 html {
	box-sizing: border-box;
    font-size: 100%;
	display: grid;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
        font-kerning:auto;
}
img{
	max-width:100%;
	height: auto;
	vertical-align: middle;
}

body {
       font-family: Tahoma, Verdana, sans-serif;
       line-height:1.15;
	   background: #f7e9dc;
	   display: flex;
	   justify-content: center;
	   align-items: center;
}
main{
	width: min(70%, 550px);
}

            /*aside section*/

aside{
	background: #ec755d url(..//images/logo.svg) 95% center no-repeat;
	border-radius: 15px;
	padding: 3% 5%;
}
aside p{
	margin-top: 6px;
	margin-bottom: 6px;
	color: white;
}
aside p:first-child{
	font-size: 0.7rem;
	color: #fce3d7;
}
aside p:last-child{
	font-size: 1.2rem;
	font-weight: bold;
}

footer{
	align-self: end;
	position: absolute;
	bottom: 1px;
}
span{
	font-size: 1.25rem;
}

            /*main section*/
section{
	background: white;
	border-radius: 15px ;
	padding-bottom: 30px;
}
section h1 {
	color: #352015;
    padding: 5% 5% 2%;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 1.6rem;
	margin-left: 1.5%;
}

.days{
	padding: 0 5%;
	display: flex;
	justify-content: space-between;

}
.bottom-section{
 margin: 0 5%;
 border-top: 1px solid #f3ece2;
 display: flex;
 justify-content: space-between;
}

.month-summary p:first-child{
	color: #9b948c;
	font-size: 0.8rem;
	margin: 18px 0 0;
}
.month-summary p:last-child{
	color: #362215;
	font-size: 1.7rem;
	font-weight: bold;
	margin: 5px 0 0;

}
.month-summary span{
	font-size: 1.8rem;
}

.percentage-sum p:first-child{
	font-size: 0.8rem;
	margin: 38px 0 0;
	color: #362215;
	font-weight: bold;
}
.percentage-sum p:last-child{
	margin: 5px 0 23px;
	color: #9b948c;
	font-size: 0.8rem;
}

            /* data style */
.amount{
	background: #392313;
	color: white;
	border-radius: 5px;
	padding: 4px 5px;
	visibility: hidden;
	margin-bottom: 0.4rem;
}
.inner{
	display: flex;
	flex-direction: column;
	align-self: end;
}
.column{
	background: #ec755d;
	color: #ec755d;
	margin: 5px 8px 0 8px;
	border-radius: 6px;
}
.day{
	text-align: center;
	margin-top: 10px;
	color: #bbb6b2;
}

       /*active states*/
.column:hover {
	background: #ff9b87;
	cursor: pointer;
	color: #ff9b87;
}
.inner:hover .amount{
	visibility: visible;
} 